*.json linguist-language=JSON

*.md linguist-language=Markdown
*.md linguist-detectable=true
*.md linguist-documentation=false

*.ts linguist-language=TypeScript

*.yml linguist-language=YAML
*.yml linguist-detectable=true